.errors ul,
.success,
.validations{
    position: absolute;
    width: 250px;
    top: 20px;
    right:  20px;
    list-style: none;
    padding: 20px;
    border-radius: 12px;
    background-color: #ff471a;
    color: white;
    font-weight: 700;
    opacity: .7;
    transition:  all .4s linear;
}

.success {
   background-color: #04AA6D;
}


