@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: gainsboro;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.dashboard {
    width: 80%;
    height: 100vh;
    margin-left: 250px;
    transition: width .5s linear;
}
.dashboard .title {
    font-size: 2.5em;
    font-weight: 500;
    padding: 1rem 1.2rem;
}
.dashboard .container {
    padding: 0 1.2rem;
    box-sizing: border-box;
}
/*FILTRO */
.dashboard .container .filter {
    position: relative;
    width: 35%;
    padding-bottom: 1rem;
}

.dashboard .container .filter ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard .container .filter ul li {
    width: 30%;
    font-weight: 500;
    font-size: 2em;
    list-style: none;
}

.dashboard .container .filter ul li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #333;
    background: #fff;
    text-align: center;
    padding: 4px;
    border-radius: 3px;
}

/*.dashboard .container .filter ul li .submenu{
    position: absolute;
    width: 30%;
    height: 70px;
    background: rgba(25, 25, 25, .2);
    font-size: .6rem;
    display: block;
    transition: .4s;
    visibility: hidden;
    opacity: 0;
}

.dashboard .container .filter ul li .submenu li{
    display: block;
    width: 100%;
    line-height: 35px;
    border-bottom: 1px solid rgba(242, 236, 236, 0.316);
    font-weight: 400;
    color: #fff;
    transition:.4s;
}*/


.separator {
    width: 97%;
    height: 6px;
    margin: 10px auto;
    background: gray;
    border: none;
}

.add,
.add1,
.add2 {
    position: fixed;
    background: dodgerblue;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    margin: 2rem;
    right: 0;
    bottom: 0;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(40, 40, 40, .8);
}

.add1 {
    margin-bottom: 110px;
    background: #cccccc;
}

.add2 {
    margin-bottom: 190px;
    background: #ff3333;
}


.contenedor-tarjetas {
display: grid;
gap: 1rem;
grid-auto-rows: 28rem;
grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
padding: 12px;
}

/*CARDS */
.card {
    position: relative;
    width: 250px;
    height: 430px;
    margin: 12px;
    background: #fff;
    border-radius: 10px;
    transition: box-shadow .3s linear;
    transition: .4s;
}

.card .eliminar {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 1.2rem;
    color: #333;
}

.card img {
    display: block;
    width: 70%;
    margin: 20px auto;
}

.card h5 {
    width: 100%;
    font-size: .7rem;
    text-align: center;
    padding: 7px;
}

.card .especificaciones{
    width: 90%;
    margin: 10px auto;
}

.card .especificaciones label {
    font-size: .9rem;
    color: #595959;
    text-align: center;
    margin: 2px 0;
}


.card .especificaciones span {
    display: inline-block;
    width: 100%;
    font-size: .8rem;
    color: darkgrey;
    text-align: center;
    padding: 5px 0;
    letter-spacing: .5px;
}


.card .botonera button {
    display: block;
    width: 70%;
    font-size: .8rem;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #333;
    cursor: pointer;
    margin: 0 auto;
}



/*HOVER*/
.card:hover{
    box-shadow: 3px 3px 9px rgba(90,90,90,.8);
  }

.dashboard .container .filter ul li a:hover{
    background: #04AA6D;
    color: whitesmoke;
    transition: background .4s linear ;
}

/*.dashboard .container .filter ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.dashboard .container .filter ul li .submenu li:hover {
    background: #0cd88d;
}
*/
/*media querys*/

@media(max-width: 1160px){
  
    .dashboard{
        margin-left: 80px;
        transition: margin-left .5s linear;
    }

    .dashboard .container .filter ul li{
        font-size: 1.7rem;
    }


}
