.reportes{
    width: 80%;
    height: 100vh;
    margin-left: 250px;
    transition: width .5s linear;
}
.reportes .header{
    position: relative;
    width: 100%;
    display: flex;
    padding: 1rem 1.5rem;
}
.reportes .fa{
    display: block;
    font-size: 2.8rem;
    width: 30px;
    text-align: center;
}
.reportes .title{
    width: 100%;
    font-size: 2em;
    font-weight: 500;
}
.separador{
    width: 98%;
    height: 6px;
    margin: 7px auto;
    background: gray;
    border: none;
}

.report-form{
    width: 100%;
    padding: 1rem 1rem;
}
.report-form form{
    display: flex;
    align-items: baseline;
    gap: 3px;
}

.report-form form label{
    padding: .3rem;
    font-size: 17px;
}

.report-form form span{
    margin: 0 7px;
}
.report-form form input,
.report-form form select{
    width: 150px;
    padding: .7em;
    border: none;
    outline: none;
    border-radius: 7px;
}
.report-form form select{
    width: 200px;
}
.report-form form input[type="submit"]{
    background-color: #333;
    width: 100px;
    color: white;
    font-weight: bold;
    margin-left: 30px;
}

/*MEDIA QUERY*/

@media (max-width: 1160px){

    .reportes{
        margin-left: 80px;
        transition: margin-left .5s linear;
    }

}